.products__list-item {
  display: flex;
  margin: 0 0 10px 0;
}

.products__list-item:last-child {
  margin: 0;
}

@media screen and (max-width: 1060px) {
  .products__list-item {
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
  }
}
