.page {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 8px;
    max-width: 320px;
  }
}
