.navbar__logo {
  color: #fff;
  text-decoration: none;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 320px) {
  .navbar__logo {
    margin-right: 110px;
  }
}
