.contact__list {
  padding: 0;
  margin: 50px 20px 0 0;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .contact__list {
    margin: 50px 0 60px;
  }
}

@media screen and (max-width: 320px) {
  .contact__list {
    margin-top: 40px;
  }
}
