.products__text-container {
  margin: 0 65px 0 0;
}

@media screen and (max-width: 1060px) {
  .products__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    max-width: 420px;
  }
}
