@import url("./__list/navbar__list.css");
@import url("./__list-link/navbar__list-link.css");
@import url("./__list-item/navbar__list-item.css");
@import url("./__logo/navbar__logo.css");
@import url("./__social/navbar__social.css");

.navbar {
  background-color: #393939;
  color: #fff;
  position: fixed;
  top: 30px;
  border-radius: 6px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  min-width: 1060px;
  padding: 17px 20px;
  align-items: center;
  justify-content: space-between;
}

.navbar_theme_light {
  background-color: #efefef;
}

@media screen and (max-width: 1120px) {
  .navbar {
    min-width: calc(100% - 60px);
  }
}

@media screen and (max-width: 640px) {
  .navbar {
    top: 22px;
    min-width: calc(100% - 40px);
    padding: 17px 12px;
  }
}

