@import url("./__list/navbar__list.css");
@import url("./__list-link/navbar__list-link.css");
@import url("./__logo/navbar__logo.css");
@import url("./__social/navbar__social.css");

.navbar {
  background-color: #393939;
  color: #fff;
  position: fixed;
  top: 30px;
  border-radius: 6px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  min-width: 1060px;
  margin: 0 100px 0;
  padding: 14px 20px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .navbar {
    margin: 0 110px 0 100px;
    min-width: 82%;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    margin: 0 30px 0 20px;
    min-width: 94%;
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    min-width: 93%;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    margin: 0 20px 0;
    min-width: 708px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    margin: 0 20px 0;
    min-width: 92%;
  }
}

@media screen and (max-width: 640px) {
  .navbar {
    margin: 0 24px 0 12px;
    min-width: 93%;
    justify-content: start;
  }
}

@media screen and (max-width: 540px) {
  .navbar {
    min-width: 92%;
  }
}

@media screen and (max-width: 440px) {
  .navbar {
    min-width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .navbar {
    top: 22px;
    margin: 0 12px 0;
    min-width: 280px;
    justify-content: start;
    padding: 17px 12px;
  }
}
