@import url("./_span_bold/item-description_span_bold.css");

.item-description {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #525252;
  margin: 0;
  padding: 0;
}

.item-description#max-payload {
  margin: 22px 0 0 0;
}
.item-description#charging-time {
  margin: 0 0 56px 0;
}

@media screen and (max-width: 600px) {
  .item-description#max-payload {
    margin: 18px 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  .item-description#charging-time {
    margin: 0 0 32px 0;
  }
}
