.navbar__social {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 14px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 320px) {
  .navbar__social {
    margin-right: 20px;
  }
}
