@import url("./__button/work__button.css");
@import url("./__title/work__title.css");

.work {
  padding: 19px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .work {
    padding: 19px 40px;
  }
}

@media screen and (max-width: 320px) {
  .work {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
