.customers__title {
  max-width: 480px;
}

@media screen and (max-width: 320px) {
  .customers__title {
    max-width: 280px;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }
}
