.navbar__list-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-right: 14px;
  transition: opacity 0.5s linear;
}

.navbar__list-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 320px) {
  .navbar__list-link {
    margin: 0;
  }
}
