.benefits__container {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 70px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 769px) {
  .benefits__container {
    grid-template-columns: repeat(2, 235px);
    margin-top: 82px;
  }
}

@media screen and (max-width: 320px) {
  .benefits__container {
    grid-template-columns: repeat(1, 280px);
    gap: 78px;
    align-items: center;
    text-align: center;
  }
}
