.team__container {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 34px;
  grid-row-gap: 34px;
  margin: 90px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .team__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .team__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    margin-top: 40px;
  }
}
