.team__container {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 34px;
  grid-row-gap: 34px;
  margin: 90px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .team__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 90px;
  }
}

@media screen and (max-width: 520px) {
  .team__container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
    margin-top: 40px;
  }
}
