.customers__container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 40px;
  padding: 0;
  margin: 90px 0 0 0;
}

@media screen and (max-width: 1270px) {
  .customers__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 78px;
    row-gap: 70px;
  }
}

@media screen and (max-width: 750px) {
  .customers__container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 70px;
  }
}
