.contact__footer {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #525252;
  line-height: 19px;
  letter-spacing: -0.04em;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .contact__footer {
    position: absolute;
    left: 40px;
    bottom: 120px;
  }
}

@media screen and (max-width: 320px) {
  .contact__footer {
    bottom: 80px;
    left: 12px;
  }
}
