.navbar__list-item {
  color: #fff;
  text-decoration: none;
  margin-right: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  cursor: pointer;
}
