.navbar__list-item {
  color: #fff;
  text-decoration: none;
  margin-right: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  padding: 17px 0;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.navbar__list-item:hover {
  opacity: 0.7;
}
