.gallery__slide-container {
  display: flex;
  align-items: center;
  margin: 50px 0 14px;
}

@media screen and (max-width: 768px) {
  .gallery__slide-container {
    width: 660px;
  }
}

@media screen and (max-width: 320px) {
  .gallery__slide-container {
    width: 280px;
  }
}
