.content-title {
  font-size: 34px;
  line-height: 43px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.content-title_theme_light {
  color: #ffffff;
}



@media screen and (max-width: 320px) {
  .content-title {
    font-size: 28px;
    line-height: 32px;
  }
}
